.btn {
    cursor: pointer;
    font-family: inherit;
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    min-width: 200px;
    min-height: 50px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    border: none;

    transition: background-color 250ms var(--timing-function);
    
    &:hover {
        background-color: var(--secondary-accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;    
    }
}

.footer__form-btn {
    position: relative;
    display: flex;
}

.footer__btn {
    width: 200px;
    height: 50px;
    background: var(--accent-border-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    border-radius: 4px;

    transition: background-color 250ms var(--timing-function);

    &:focus-within,
    &:hover {
        background-color: var(--secondary-accent-color);
    }
}

.footer__btn-title {
    position: absolute;
    left: 29px;
    top: 10px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    letter-spacing: 0.06em;
    
    color: var(--white-text-color);
}

.footer__btn-icon {
    position: absolute;
    display: flex;
    top: 50%;
    right: 28px;
    transform: translateY(-50%); 
}

.footer__form-btn {
    position: relative;
    display: flex;
}

.footer__btn {
    width: 200px;
    height: 50px;
    background: var(--accent-border-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    border-radius: 4px;

    transition: background-color 250ms var(--timing-function);
}

.footer__btn-title {
    position: absolute;
    left: 29px;
    top: 10px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    letter-spacing: 0.06em;
    
    color: var(--white-text-color);
}

.modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    
    &:hover,
    &:focus {
        fill: var(--accent-icon-color);
    }
}

.modal-btn-send {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    width: 200px;
    height: 50px;
    margin-top: 30px;

    display: flex;
    cursor: pointer;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 55px;
    margin-left: auto;
    margin-right: auto;
    

    background: var(--secondary-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    color: var(--white-text-color);

    transition: background-color 250ms var(--timing-function);
    
    &:focus-within,
    &:hover {
        background-color: var(--accent-color);
    }
}

.portfolio__filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio__filter-item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }    
}

.portfolio__filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: var(--secondary-bg-color);
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
       background-color: var(--accent-color);
       color: var(--white-text-color);
       box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    
    &:active {
        color: var(--white-text-color);
        background-color: var(--accent-color);
    }
}

