//footer-form

.footer-subscription {
    margin-left: auto;

}

.footer__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__form-title {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--white-text-color);

}

.footer__form-input {
    display: flex;
    height: 50px;
    width: 358px;
    padding: 0;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--white-text-color);
    padding-left: 16px;

    transition: border-color 250ms var(--timing-function);

}



.footer__form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer__form-input:hover,
.footer__form-input:focus {
    border-color: var(--accent-border-color);
}