// logo

.header__logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    
    @include mq(tablet) { 
        margin-right: 88px;
    } 

    @include mq(desktop) { 
        font-size: 26px;
        line-height: 1.19;
        margin-right: 93px;
    } 

}

.header__logo-black {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--black-text-color);
    
    @include mq(desktop) { 
        font-size: 26px;
        line-height: 1.19;
    } 




}

.footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-bottom: 20px;

    @include mq(desktop) {
        justify-content: flex-start;
    }
    
}

.footer__logo-white {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--white-text-color);

    // // desktop
    // font-family: var(--secondary-font);
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    // letter-spacing: 0.03em;
    // color: var(--white-text-color);
}