// mobile-menu

.mob-menu-container {
    display: none;

    &.is-open {
        display: block;
    }
}

.mob-menu {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    padding: 40px;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: currentColor;
    background-color: var(--main-bg-color);

    &__phone-link {
        font-weight: 500;
        font-size: 34px;           
    }

    &__nav-item:not(:last-child) {
        margin-bottom: 30px;
    }

    &__contacts-item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__socials {
        display: flex;
        font-size: 18px;
        line-height: 1.22;
        color: var(--accent-color);
    }

    
    
    @media screen and (max-height: 500px) {
        overflow-y: scroll;
    }

    @include mq(tablet) { 
        display: none;
    } 
}



.nav__list {

}

.menu__nav-link {
    font-weight: 500;   
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--main-color);
}

.mob-menu__contacts {
    margin-top: auto;
    margin-bottom: 64px;
}

.mob-menu__phone-link {
    color: var(--accent-color);
    margin-bottom: 32px;
    
    transition: color 250ms var(--timing-function);
}

.mob-menu__email-link {
    font-size: 24px;
    color: var(--secondary-color);
    
    transition: color 250ms var(--timing-function);
}

.mob-menu__bottom-side {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.mob-menu__socials-item {
    display: flex;
    align-items: center;
  
    &:hover,
    &:focus {
      color: var(--interactive-background-color);
    }
  
    transition: color var(--transition-duration) var(--transition-timing-function);
  
    &:not(:last-child)::after {
      content: '';
  
      display: inline-block;
      margin: 0 10px;
  
      width: 2px;
      height: 22px;
  
      background-color: rgba(33, 33, 33, 0.2);
    }
}

.mob-menu__nav .menu__nav-link.current {
    color: var(--accent-color);
}

.menu__nav-link.current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    
    content: "";
    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--accent-bg-color);
    border-radius: 2px;
}