/* socials-icon */

.team__socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__socials-item:not(:last-child) {
    margin-right: 10px;
}

.team__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-bg-color);

    transition: background 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-bg-color);
    }
    
    &:hover .team__socials-icon,
    &:focus .team__socials-icon {
        fill: var(--second-icon-color);
    }
}

.team__socials-icon {
    fill: var(--main-icon-color);
    
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}


.footer__socials-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    color: var(--white-text-color);
    margin-bottom: 20px;
}

.footer__socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__socials-item:not(:last-child) {
    margin-right: 10px;
}

.footer__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-icon-color);
    }
}

.footer__socials-icon {  
    fill: var(--second-icon-color); 
}



