// clients-section

.clients {
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    // // desktop
    // font-size: 36px;
    // text-align: center;
    // letter-spacing: 0.03em;
    // color: var(--main-color);
    // margin-bottom: 50px;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -15px;

    @include mq(desktop) { 
        flex-wrap: nowrap;
    }
}

.clients__item {
    margin: 15px;

    // @include mq(mobile-only)
    // width: calc((100% - 30px) / 2);

    // &:nth-child(2n) {
    //     margin-right: 0;
    // }

    // &:nth-last-child(-n + 2) {
    //     margin-bottom: 0;
    // }
}

.clients__item:not(:last-child) {
    // margin-right: 30px;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid var(--second-border-color);
    border-radius: 4px;
    fill: var(--main-icon-color);
    
    transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
    
    @include mq(tablet-only) { 
        width: 226px;
        height: 92px;
    }

    @include mq(desktop) { 
        width: 170px;
        height: 92px;
    }
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--accent-border-color);
    fill: var(--accent-icon-color);
    outline: transparent;
}