// features-section

.features {
    padding-top: 60px;
    padding-bottom: 60px;

    // desktop screen
    @include mq(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }        
}

.features__list {
    @include mq(tablet) {
        margin: -15px;
        display: flex;
        flex-wrap: wrap;
   }
   
    @include mq(desktop) {
        flex-wrap: nowrap;
    }
}


.features__item {
    line-height: 1.71;
    @include mq(mobile-only) {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
   }
    
   @include mq(tablet) {
        margin: 15px;
        flex-basis: calc((100% - 2 * 30px) / 2);
   }

   @include mq(desktop) {
        width: 270px;

        // &:last-child {
        //     margin-right: 0;
        // }
    }
}


.features__subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    margin-bottom: 10px;  
    text-transform: uppercase;
    color: var(--main-color);

    @include mq(tablet) {
        text-align: start;
    }
}

.features__text {
    @include mq(desktop) {
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-color);
    }
}


.features__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    width: 100%;
  
    background: var(--secondary-bg-color);
    border-radius: 4px;


    // // desktop screen
    // padding: 25px 100px;
}

 
.features__icon {
    
    // // // desktop screen
    // display: flex;
    // justify-content: center;
    // align-items: center;
}
