// footer

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-bg-color);

    // // desktop
    // display: flex;
}

.footer__container {
    display: block;

    @include mq(tablet){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }

    @include mq(desktop){
        display: flex;
    }

    // display: flex;
    // align-items: baseline;
}

.footer__item {
    // margin-bottom: 9px;
    
    // &:last-child {
    //     margin-bottom: 0;
    // }
}

.footer__address-block {
    margin-bottom: 60px;

    @include mq(tablet) { 
        display: inline-block;
    } 

    @include mq(desktop) { 
        margin-right: 70px;
    } 
}

.footer__address {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer__map {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    margin-bottom: 9px;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.footer__email {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
    margin-right: auto;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.footer__phone {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-right: auto;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}






