// portfolio-section

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__aside {
    background-color: var(--main-bg-color);
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}

.portfolio__item {
    position: relative;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;

    &:nth-child(n + 7) {
        margin-bottom: 0;
    }
    
    &:nth-child(3n + 3) {
        margin-right: 0;
    }
}

.portfolio__link {
    display: block;
    transition: box-shadow 1000ms var(--timing-function);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .portfolio__desc,
    &:focus .portfolio__desc {
    opacity: .9;
    transform: translateY(0);
    }
}

.portfolio__desc-box {
    position: relative;
    overflow: hidden;
}

.portfolio__desc {
    position: absolute;
    top: 0;
    left: 0;
    font-style: normal;
    font-size: 18px;
    line-height: 1.56;
    align-items: center;
    letter-spacing: 0.03em;
    padding: 63px 24px;

    transform: translateY(100%);
    transition-timing-function: var(--timing-function);
    transition-duration: 250ms;

    color: var(--white-text-color);
    background: var(--accent-bg-color);
    opacity: 1;
}

.portfolio__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    
    letter-spacing: 0.06em;
    color: var(--main-color);
    margin-bottom: 4px;
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}